.navbar{ 
border-radius: 10px;
background-color: rgb(253, 253, 253)

}
.navbar .nav-link{
    color: rgb(255, 5, 5);
    font-size: 20px;
}

.btn{
    padding: 20px 30px;
    font-weight: 900;
    font-size: 20px;
}
.btn-muji{
    background-color: rgb(196, 207, 255);
    border: 2px solid rgb(255, 0, 0);
    border-radius: 30px;
    transition: all ease-in 0.5x;
}

.btn-muji:hover{
 color: rgb(158, 2, 2);
 
}

.glen{
    width: 15%
}

body{
    background-image:url(card4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
div .col-lg-12{
    text-shadow: 2px 2px rgb(5, 5, 5);
    color: rgb(207, 215, 219);
    margin-top: 250px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 25px;
}
div .col-lg-6{
    color: rgb(207, 215, 219);
    margin-top: 250px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.322);
    
}
#about h2, #about h3, #about p {
    text-shadow: 2px 2px rgb(5, 5, 5);
    color: rgb(255, 252, 252);
   
    
}
#about img{
    border: 4px, solid, white;
    box-shadow: 0 0 20px 0 blueviolet;
    border-radius: 25px;
    width: 500px;
    height: 550px;
}
.card-img-top{
    width: 40px;

}
.card{
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 30px;
    transition: all ease-in 0.5px;
    border: 20px, solid, white;
    box-shadow: 0 0 20px 0 rgb(196, 87, 8);
    border-radius: 50px;

}

.card:hover{
    background-color:pink;
    box-shadow: 0 0 10px 0 rgb(172, 4, 4);
    border-radius: 40px;
}
.card:hover, .card-title,
.card:hover, .card-text{
    color: #b19112;
}

.testimonial {
    border: 2px solid #eb0606;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}
.testimonial img{
    width: 100px;
    border-radius: 50%;
    border: 2px solid #eb0606;
    
}
.fuq-section{
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
   

}

.accordion-item{
 margin-bottom: 20px;
 border-radius: 0 !important;
}

.accordion-button{
    background-color: rgb(236, 241, 241);
    border: none;
    border-bottom: 1px solid #a12e2e;
    border-radius: 0 !important;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(13, 14, 13);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-shadow: 2px 2px rgb(5, 5, 5);

}

.accordion-body{
    border-left: 3px solid #8f4141;
    padding: 10px 15px;
    margin-left: 0;
    background-color: aquamarine;
}

.accordion-buttom:not(.collapsed){
    background-color: aquamarine;
    color: rgb(12, 12, 12);
}

.accordion-button:hover{
    background-color: rgb(103, 131, 121);
    color: rgb(7, 7, 7);

}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #0A1737 ;
} 

#footer ul.list-unstyled li a {
    color: #ffffff;
    text-decoration: none;
}

#footer ul.list-unstyled li:hover a {
    color:  rgb(244, 149, 15) ;
    
}